<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebTracker</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">WebTracker</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/userregister"><i class="fas fa-user-plus"></i> User Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/userlogin"><i class="fas fa-sign-in-alt"></i> User Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/userdashboard"><i class="fas fa-tachometer-alt"></i> User Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin"><i class="fas fa-user-shield"></i> Admin</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <!-- Card with Information -->
      <div class="col-md-6">
        <div class="card h-100">
          <div class="card-body">
            <p class="card-text">WebTracker is a comprehensive application designed to track, monitor, and analyze web-based activities. It provides valuable insights into user behavior, screen time, and locations, making it a useful tool for parents, employers, individuals, and educational institutions. By leveraging modern technologies and tools, WebTracker aims to offer a user-friendly and efficient solution for tracking web activities.Your ideal productivity solution and time tracking software that combines time tracking, employee monitoring, payroll, timesheets, shifts, collaboration tools, invoicing, and more in one place.</p>

            <h5 class="card-title">Features of WebTracker</h5>

            <p class="card-text">User Activity Tracking</p>
            <p class="card-text">Location Tracking</p>
            <p class="card-text">User Management</p>


          </div>
        </div>
      </div>
      <!-- Card with Image on the Right -->
      <div class="col-md-6">
        <div class="card h-100">
          <div class="row no-gutters h-100">
            <div class="col-md-12">
              <img src="./assets/TimeTrackerimg.jpeg" alt="TimeTrackerimg" class="responsive-image" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>